<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-background" no-bounce>

  <form (submit)="doLogin()" class="form-div">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password"> </ion-input>
      </ion-item>

      <ion-button expand="full" type="submit">Submit</ion-button>
    </ion-list>

  </form>
  <div class="login-div" (click)="gotoSignup()">Need an account? Tap here to signup.</div>
</ion-content>
